div.header {
    font-size: 35pt;
    font-family: AppleGothic, serif;
    padding: 10px;
    text-align: center;
    color:white;
    background-image: linear-gradient(to bottom right, teal, rebeccapurple);
    border-style:outset;
    border-width:7px;
    transition: 0.8s;
}
div.header:hover {
    rotate:180deg;
}