div.header {
    font-size: 35pt;
    font-family: AppleGothic, serif;
    padding: 10px;
    text-align: center;
    color:white;
    background-image: linear-gradient(to bottom right, teal, rebeccapurple);
    border-style:outset;
}
div.header:hover {
    rotate:360deg;
}